@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/* navbar styling */

.navbar {
  position: flex;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  background: #111;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
}
.navbar #menu li {
  list-style: none;
  display: inline-block;
}
.navbar #menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar #menu li a:hover {
  color: crimson;
}
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  margin: 15px;
  display: none;
}
.max-width {
  max-width: 1300px;
  margin: auto;
}
/* responsive media query start */
@media (max-width: 947px) {
  .max-width {
    padding: 10px 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
}

@media (max-width: 1155px) {
  .navbar {
    position: relative;
  }
  .max-width {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .logo {
    position: absolute;
    top: -50px;
    right: 500%;
    transform: translate(50%, 50%);
  }
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: block;
    z-index: 999;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
  }

  .nav-menu.active {
    left: 1;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
    width: 100%;
    position: absolute;
  }

  .nav-links {
    text-align: center;
    padding-right: 25px;
    padding-top: 10px;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    border-radius: 0;
  }

  .navbar #menu {
    cursor: pointer;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    color: #fff;
    background: #111;
    text-align: center;
    padding-top: 80px;
  }
  .navbar #menu li {
    display: block;
  }
  .navbar #menu li a {
    display: inline-block;
    margin: 20px;
    font-size: 25px;
    /*transition: color 0.3s ease;*/
  }
  .navbar #menu li a:hover {
    color: crimson;
  }
}
